* {
    margin: 0;
    padding: 0;

}

:root {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
body{
  background-color: black;
  
}

#page {
    box-sizing: border-box;
    width: 1200px ;
    padding-top: 30%;
    padding: 24px;
    background-color: gray;
    border-radius: 24px;
    margin: 50px auto;
}

.btn-facul {
  background-color: antiquewhite;
  color:black;
  border-color: black;
  border-style: solid;
  border-width:2px;
  border-radius: 0;
  
}


.btn-translate {
  
  
  background-color: antiquewhite;
  cursor: pointer;
  margin: 50px;
  border-style: solid; 
  border-color: black;
  padding: 10px;
  text-decoration-line: none;
  text-transform: uppercase;
  
 
}

.btn-translate:hover {
  background-color: #cde7f0;
  color: white;


}



.choose {
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  
  position: relative;
  background-color: rgb(77, 108, 109);
  width: 100%;
  
  padding: 0px 10px 24px 24px;
  margin: 0px auto;
 

}

#msg {
  color: aliceblue;
  
  
}

.lista-conhecimentos {
  display: flex;
  justify-content: space-around;
  
  top: 20px;
  left: 20px;
  
  justify-content: space-between;
  background-color: #c8caca;
  margin: 20px;
  padding: 20px 100px 10px 50px;
  font-size: 20px;
  
  
}

h1{
  margin-top: 24px;
  margin-bottom: 10px;
  color:black;
  font-size: 40px;
  text-align: center;
  letter-spacing: 2;
  text-transform: uppercase;
  border:none;
  margin: 20px;
  border-radius: 5px;

}

h4 {
  color:black;
  font-size: 32px;
  text-align: justify;
  letter-spacing: 2;
  text-transform: uppercase;
  border:none;
  margin: 20px;
  border-radius: 5px;
}


h5 {
  color:black;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 2;
  text-transform: uppercase;
  border:none;
  margin: 20px;
  border-radius: 5px;
}

p {
  font-size: 20px;
  text-transform: inherit;
 
}

div.mycontainer {

  border-width: 4px 10px 6px 15px;
  border-style: dotted solid double dashed;
  border-color: red;
  /*width:28%;
  height:200px;*/
  min-width: 400px;
  min-height: 300px;

  overflow:auto;
  float:left;
  
}


footer {
  box-sizing: border-box;
  width: 800px;
  padding: 24px;
  background-color: rgb(208, 202, 202);
  border-color: red;
  border-style: solid;
  border-radius: 24px;
  margin: 48px auto;
}

aside {
  background-color: none;
  display: flex-center;
  float: right;
  justify-content: space-between;
  position: fixed;
  width: 130px;
  height: 475px;
  bottom: 0px;
  right: 10px;
  
  


}

aside figure{
  float: left;
  margin-bottom: 20px;
  margin-right: 10px;
}


img {
  width: 100px;
}


p {
  border-style: none;
  border-color: none;
  margin: 20px
}




/*anotações */
